<div layout="column" class="about-container">
  <p class="title">Welcome to <span class="showtime">Showtime</span>!</p>

  <md-divider></md-divider>

  <br>
  <p><span class="showtime">Showtime</span> is a web scraper app for Edna Mall's Show time, which we all know for being so great to view via Mobile or even on Desktop...<br>NAAAAAAAAT! <small>(that was Borat)</small></p>
  <p>The App brings you schedule without all the nonsense. and yes, it's super chap to use, everything is stored locally, only data from Edan Mall's site it transferred (around 10Kb)</p>
  <p>Disclaimer<br>i Moe Szyslak (alias) is in NO way associated with Edna Mall, am just a dude who had a weekend to spend on build something "cool".</p>
  <p><span class="showtime">TIP</span><br>for best use bookmark or add to Home Screen<br><img src="assets/images/tip/tip.png"></p>
  <p>Contact<br><a href="mailto:moe.duffdude@icloud.com?subject=Showtime">moe.duffdude@icloud.com</a></p>
</div>
