<section ng-repeat="key in showtime.cinemaKeys['Two']" class="movie-list-section">
  <md-list layout="column">
    <md-item ng-repeat="movie in showtime.list.cinemaTwo[key]"
             ng-show="(showtime.showOnlyToday === true && showtime.today === (key | moment:'dddd')) || showtime.showOnlyToday === false">
      <div class="md-item-content" layout="column">
        <div class="title-container" layout="column">
          <p class="movie-title" ng-class="{'amharic': movie.info === null}" ng-bind="movie.movie | lowerCase"></p>
          <p ng-if="movie.info !== null" class="movie-genre" ng-bind="movie.info.Genre"></p>
        </div>

        <div layout="row">
          <div ng-if="movie.info !== null" class="poster-container">
            <img ng-src="{{ movie.info.Poster }}" class="movie-poster" alt="{{ movie.movie }}">
          </div>

          <div layout="column" layout-align="start start">
            <p class="movie-day" ng-bind="key | moment:'dddd'"></p>
            <p class="movie-showtime" ng-bind="movie.showtime"></p>

            <p ng-if="movie.info !== null" class="movie-rated" ng-bind="movie.info.Rated"></p>
            <p ng-if="movie.info !== null" class="movie-rating" ng-bind-template="{{ movie.info.imdbRating }} / 10"></p>
            <p class="movie-plot" ng-bind="movie.info.Plot"></p>
          </div>
        </div>
      </div>

      <md-divider></md-divider>
    </md-item>
  </md-list>
</section>
