<md-content fill-v>

  <section ng-repeat="(day, movies) in showtime.list.cinemaOne" class="movie-list-section">
    <md-subheader class="md-primary" ng-bind="day"></md-subheader>

    <md-list layout="column">
      <md-item ng-repeat="movie in movies">
        <md-item-content>
          <div class="md-tile-left" ng-if="movie.info !== null">
            <img ng-src="{{ movie.info.Poster }}" class="movie-poster" alt="{{ movie.movie }}">
          </div>

          <div class="md-tile-content">
            <p class="movie-title" ng-class="{'amharic': movie.info === null}" ng-bind="movie.movie"></p>
            <p class="movie-showtime" ng-bind="movie.showtime"></p>

            <!-- movie info -->
            <p ng-if="movie.info !== null" class="movie-genre" ng-bind="movie.info.Genre"></p>
            <p ng-if="movie.info !== null" class="movie-rated" ng-bind="movie.info.Rated"></p>
            <p ng-if="movie.info !== null" class="movie-rating" ng-bind-template="{{ movie.info.imdbRating }} / 10"></p>
            <p ng-if="movie.info !== null" class="movie-plot" ng-bind="movie.info.Plot"></p>
            <!-- ./ movie info -->
          </div>
        </md-item-content>

        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </section>

</md-content>
