<section ng-repeat="key in showtime.cinemaKeys['Three']" class="movie-list-section">
  <md-list layout="column">
    <md-item ng-repeat="movie in showtime.list.cinemaThree[key]"
             ng-show="(showtime.showOnlyToday === true && showtime.today === (key | moment:'dddd')) || showtime.showOnlyToday === false"
             ng-if="movie.movie !== ''">
      <div class="md-item-content" layout="column">
        <div layout="row" layout-align="start center">
          <p class="movie-title" ng-class="{'amharic': movie.info === null}" ng-bind="movie.movie | lowerCase"></p>
          <p class="movie-rated" ng-if="movie.info !== null" ng-bind="movie.info.rated"></p>
        </div>

        <div layout="row">
          <div ng-if="movie.info !== null" class="poster-container">
            <img ng-src="{{ movie.info.poster }}" class="movie-poster" alt="{{ movie.movie }}">
          </div>

          <div layout="column" layout-align="center start">
            <p class="movie-day" ng-bind="key | moment:'dddd'"></p>
            <p class="movie-showtime" ng-bind="movie.showtime"></p>
          </div>
        </div>

        <p ng-if="movie.info !== null" class="movie-actor" layout="row" layout-wrap>
          <span ng-repeat="actor in movie.info.actors" ng-bind="actor"></span>
        </p>
        <p ng-if="movie.info !== null" class="movie-genre">
          <span ng-repeat="genre in movie.info.genres" ng-bind="genre"></span>
        </p>
        <p class="movie-plot" ng-bind="movie.info.plot"></p>
      </div>

      <md-divider></md-divider>
    </md-item>
  </md-list>
</section>
