<section ng-repeat="key in showtime.cinemaKeys['One']" class="movie-list-section">
  <md-list layout="column">
    <md-item ng-repeat="movie in showtime.list.cinemaOne[key]"
             ng-show="(showtime.showOnlyToday === true && showtime.today === (key | moment:'dddd')) || showtime.showOnlyToday === false"
             ng-if="movie.movie !== ''">
      <div class="md-item-content" layout="column">
        <div class="title-container" layout="column">
          <p class="movie-title" ng-class="{'amharic': movie.info === null}" ng-bind="movie.movie | lowerCase"></p>
        </div>

        <div layout="row">
          <div ng-if="movie.info !== null" class="poster-container">
            <img ng-src="{{ movie.info.posters.tmdb }}" class="movie-poster" alt="{{ movie.movie }}">
          </div>

          <div layout="column" layout-align="center start">
            <p class="movie-day" ng-bind="key | moment:'dddd'"></p>
            <p class="movie-showtime" ng-bind="movie.showtime"></p>

            <p ng-if="movie.info !== null" class="movie-rated" ng-bind="movie.info.mpaa_rating"></p>
            <p ng-if="movie.info !== null" class="movie-rotten-tomatoes">Rotten Tomatoes</span>
            <p ng-if="movie.info !== null" class="movie-rating" ng-bind-template="Critics {{ movie.info.ratings.critics_score }}%"></p>
            <p ng-if="movie.info !== null" class="movie-rating" ng-bind-template="Audience {{ movie.info.ratings.audience_score }}%"></p>
          </div>
        </div>

        <p class="movie-plot" ng-bind="movie.info.synopsis"></p>
      </div>

      <md-divider></md-divider>
    </md-item>
  </md-list>
</section>
