.util {
  .no-decor {
    text-decoration: none;
    text-transform: none;
  }

  .center {
    text-align: center;
  }

  .z-index(@z-index: 100) {
    z-index: @z-index;
  }
}

.fixed-toast {
  position: fixed;
}

// super cute - pink n' all
.showtime {
  color: #ec407a;
  text-shadow: 0 0 8px #ec407a;
}
