@import "./theme.less";

.b(@color: red) {
  border: 1px solid @color;
}

@font-face {
  font-family: "Droid Sans Ethiopic";
  font-style: normal;
  font-weight: 400;
  src: url(../static/font/DroidSansEthiopic/DroidSansEthiopic-Regular.woff) format('woff');
}

@font-face {
  font-family: "Droid Sans Ethiopic";
  font-style: normal;
  font-weight: 700;
  src: url(../static/font/DroidSansEthiopic/DroidSansEthiopic-Bold.woff) format('woff');
}

&[class*="dse"] {
  font-family: 'Droid Sans Ethiopic' !important;
}

body {
  position: relative;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: @backgroundColor;
  color: @textMainColor;
  padding: 0;
  margin: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.showtime-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  background-color: @navbarBackgoundColor;
  color: @textActiveColor;
  font-size: 1em;
  text-align: center;
  overflow: hidden;

  & > div.header-date {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .5em;
  }
}

.showtime-view {
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 64px;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.showtime-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: @navbarBackgoundColor;
  color: @textMuted1Color;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  div.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;

    .menu-icon {
      color: @textMuted2Color;
      font-size: 1.4em;
      margin-bottom: 4px;

      &[class*="cinema-"]::before {
        .b(@textMuted2Color);
        font-style: normal;
        padding: 1px 8px;
        border-radius: 50%;
        font-size: 1em;
        color: @textMuted2Color;
      }

      &.cinema-three::before {
        content: '3';
      }

      &.cinema-two::before {
        content: '2';
      }

      &.cinema-one::before {
        content: '1';
      }
    }

    .menu-text {
      font-size: .6em;
    }
  }
}
